<div class="container">
	<%=form_tag watch_reviews_path, method: :get do %>
<%= text_field_tag :term, nil, placeholder: 'Search', class:'form-control' %>
<%= submit_tag "Search", class:'btn btn-default' %>
<% end %>	
	<h2>Watch Reviews </h2>
	
	<table border="1" class="table">
		<tr>
			<th>Author</th>
			
			<th>Rating</th>
			
			<th>Content</th>
			
			<th>Date</th>		
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<% @watchreview.each do |watchreview| %>
		<tr>
			<td><%=watchreview.author %></td>
			<td><%=watchreview.rating %> </td>
			<td><%=watchreview.content %> </td>
			<td><%=watchreview.date %></td>
			 <td><%= link_to 'Edit Review',edit_watch_review_path(watchreview) %> </td>
			 <td><%= link_to 'Delete Review', watch_review_path(watchreview), method: :Delete,data: {confirm: "Are you sure you want to delete the details?"}%> </td>
		</tr>
		<% end %>
	</table>
	<a><%= link_to 'Add New Review', new_watch_review_path %> </a>
</div>
