<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=static_pages_home_path %>">Sheffield E-Reviews</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%=static_pages_contact_path %>">Contact Us <span class="sr-only">(current)</span></a></li>
        <li><a href="<%=static_pages_about_path %>"">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%=product_path(13)%>">Smart TV</a></li>
            <li><a href="<%= product_path(12)%>">Smart Watch</a></li>
            <li><a href="<%= product_path(14)%>">Smart Phone</a></li>
            
          </ul><% else %>

        </li>
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            <% if current_profile %>
            <li><a href="<%=profiles_path(current_profile) %>">View Profile</a></li> 
            <% else %>
            <li><a href="<%=new_profile_path %>">Add Profile</a></li>
            <% end %>
          </ul>
        </li>
        <% else %>
        <ul class="nav navbar-nav">
          <% end %>
        <li class="active"><% if current_user %><%=link_to'Log Out',session_path('active'),method: :delete %> </li>
        <li class="active">
        <a href="#"><%= current_user.userid %></a> </li>
        <li><% else %><%= link_to 'Log in', new_session_path, class: "active_nav_link" %>
          <li><a href="<%=new_user_path %>"> Sign Up </a></li>
        <% end %></li>
        </li>
      </ul>
    </div>
  </div>
</nav>    
</div>
<div class="container">
  <% flash.each do |key, value| %>
  <div class="<%=flash_class(key)%>">
    <%=value %>
  </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
