<div class="container">
	<h3>Product Details</h3>
	<p>Product Name <%=@product.productName %> </p>
	<p>Product Brand <%=@product.brand %></p>
	<p>Average Cost <%=@product.avgCost %></p>
	<p>Product Category <%=@product.category %></p>
	<p>Release Date <%=@product.releaseDate %></p>
	<p>Description <%=@product.description %></p>
	<p>Product Image <%=@product.productimg %></p>
</div>
	