<div class="container">
<h1> Add New TVReview </h1>
<%= form_for :tvreview, url: tv_reviews_path do |f| %>
<%= f.hidden_field :products_id, class: 'form-control', value:13 %>
<%=f.hidden_field :profile_id, class: 'form-control', value: current_profile.id %>
<div class="form-group">
	<%= f.label :author %>
	<%= f.text_field :author , class:'form-control', value: current_profile.pname, :readonly=> true %>
</div>
<div class="form-group">
	<%= f.label :rating %>
	<%= f.number_field :rating , class: 'form-control'%>
</div>
<div class="form-group">
	<%= f.label :content %>
	<%= f.text_area :content , class: 'form-control'%>
</div>
<div class="form-group">
	<%= f.label :date %>
	<%= f.date_field :date , class: 'form-control'%>
</div>
<div class="form-group">
	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%=link_to "Cancel" ,tv_reviews_path, class:'btn btn-default' %>
</div>
<% end %>
</div>