<div class="container">
	<h3>Product Details</h3>
	<p>Product Name <%=@product.productName %> </p>
	<p>Product Brand <%=@product.brand %></p>
	<p>Average Cost <%=@product.avgCost %></p>
	<p>Product Category <%=@product.category %></p>
	<p>Release Date <%=@product.releaseDate %></p>
	<p>Description <%=@product.description %></p>
	<p>Product Image <%=@product.productimg %></p>
</div>

<div class="container">
	<h2>Phone Reviews </h2>
	

	<table border="1" class="table">
		<tr>
			<th>Author</th>
			
			<th>Rating</th>
			
			<th>Content</th>
			
			<th>Date</th>
			<th>Product ID</th>
			<th>Edit  </th>
			<th>Delete</th>
		</tr>
		<% @phonereview.each do |phonereview| %>
		<tr>
			<td><%=phonereview.author %></td>
			<td><%=phonereview.rating %> </td>
			<td><%=phonereview.content %> </td>
			<td><%=phonereview.date %></td>
			<td><%=phonereview.products_id %></td>
			 <td><%= link_to 'Edit Review',edit_phone_review_path(phonereview) %> </td>
			 <td><%= link_to 'Delete Review', phone_review_path(phonereview), method: :Delete,data: {confirm: "Are you sure you want to delete the details?"}%> </td>
		</tr>
		<% end %>
	</table>
	<a><%= link_to 'Add New Review', new_phone_review_path %> </a>
</div>


