<div class="container">
	<h3> Profile Details</h3>
	<table border="2" class="table">
	<tr>
		<th>Name</th>
		<th>Date of birth</th>
		<th>Address</th>
		<th>City</th>
		<th>Country</th>
		<th>Image</th>
		<th>Edit Profile</th>
	</tr>
	<tr>
		<td><%= @profiles.pname %></td>
		<td><%= @profiles.dob %></td>
		<td><%= @profiles.address %></td>
		<td><%= @profiles.city %></td>
		<td><%= @profiles.country %></td>
		<td><%= image_tag(@profiles.userimg.url,size: '200x200') %></td>
		<td><%= link_to 'Edit Profile', edit_profile_path(@profiles) %> </td>
	</tr>
</table>
</div>


<!--if @profile.userimg.exists? -->